@model IEnumerable<SampleProject.Models.UserModels.OpenId>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            OpenIdUrl
        </th>
        <th>
            User
        </th>
        <th>
            ProviderName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OpenIdUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OpenIdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OpenIdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OpenIdId })
        </td>
    </tr>
}

</table>
