@model SampleProject.Models.UserModels.User
@{
    ViewBag.Title = "Promote";
}

<h2>Promote to Admin</h2>

User has been promoted.

<fieldset>
    <legend>User</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>
    <div class="display-label">OpenIds:</div>
    <ul>
        <li>
            @foreach( var openId in Model.OpenIds)
            {
                <fieldset>
                    <legend>@Html.DisplayFor(model => openId.ProviderName)</legend>

                    <div class="display-label">OpenIdUrl</div>
                    <div class="display-field">
                        @Html.DisplayFor(model => openId.OpenIdUrl)
                    </div>
                </fieldset>
            }
        </li>
    </ul>
    
    <div class="display-label">Roles:</div>
    <ul>
        <li>
            @foreach( var role in Model.Roles)
            {
                <fieldset>
                    <legend>Role</legend>

                    <div class="display-label">Name</div>
                    <div class="display-field">
                        @Html.DisplayFor(model => role.RoleName)
                    </div>

                </fieldset>
            }
        </li>
    </ul>
</fieldset>

<p>
    @Html.ActionLink("Back to admin panel", "Index", "Home", new { Area = "Admin" }, new { }))
</p>



