@using SampleProject.ViewModels.User
@model SampleProject.ViewModels.User.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<div class="row">
    
    <div class="span4 offset4">
        <h2>Login</h2>
        <form class="well" action="@Url.Action("Login","User")" method="post"> 

            <div style="color: red;">
                @Html.ValidationMessageFor(model => model.OpenIdUrl)<br/>
            </div>

            <label>
                <h3>With Google Account</h3>
                @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.Google)
            </label>

            <label>
                <h3>With Yandex Account</h3>
                @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.Yandex)
            </label>  
    
            <label for="openid_radion">
                <label>With your <strong>OpenID</strong>
                    @Html.TextBoxFor(model => model.OpenIdUrl)
                </label>
                @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.OpenId, new { id = "openid_radion" })
            </label>      

            @Html.HiddenFor(model => model.ReturnUrl)

            <input class="btn btn-primary btn-large" type="submit" value="Login" />
        </form>
    </div>
</div>
