@using SampleProject.ViewModels.User
@model SampleProject.ViewModels.User.LoginViewData
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login","User"))
{
    @Html.ValidationMessageFor(model => model.OpenIdUrl)<br/>
    
    <label for="google_login">Google</label>
    @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.Google, new { id = "google_login" })<br/>

    <label for="yandex_login">Yandex</label>  
    @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.Yandex, new { id = "yandex_login" })<br/>

    <label for="openid_login">OpenId</label>   
    @Html.RadioButtonFor(model => model.LoginMethod, LoginMethod.OpenId, new { id = "openid_login" })<br/>

    @Html.Label("Enter your openId:") 
    @Html.TextBoxFor(model => model.OpenIdUrl)<br/>

    @Html.HiddenFor(model => model.ReturnUrl)

    <input type="submit" value="Login" />
}
