<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="../../Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"
        type="text/css" />
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    @RenderSection("styles", false)
    <!-- End Styles -->

</head>
    <body>
        <!--- Navigation -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a><a class="brand" href="@Url.Action("Index", "Home")">Sample project</a>

                    <!-- Nav collapse -->
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "User")">Profile</a></li>
                            <li><a href="@Url.Action("Index", "Browser")">Browser</a></li>
                            <li><a href="@Url.Action("Index", "Editor")">Editor</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Logout", "User")">Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Login", "User")">Login</a></li>
                            }
                            <li><a href="@Url.Action("Index", "Home", new { Area = "Admin" })">Admin</a></li>
                        </ul>
                    </div>
                    <!-- End Nav collapse -->

                </div>
            </div>
        </div>
        <!--- End Navigation -->
        
        <!-- Body -->
        <div class="container">
            @RenderBody()
            <hr>
            <footer>
                <p>
                    &copy; Company 2012</p>
            </footer>
        </div>
        <!--  End Body -->

        <!-- Scripts -->
        <script src="../../Scripts/Lib/jQuery/jquery-1.7.1.js" type="text/javascript"></script>
        <script src="../../Scripts/json2.js" type="text/javascript"></script>
        <!-- twitter bootstrap js -->
        <script src="../../Content/bootstrap/js/bootstrap-collapse.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap-modal.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap-button.js" type="text/javascript"></script>
        <!-- view scripts -->
        @RenderSection("scripts", false)
        <!-- End Scripts -->
    </body>
</html>
