@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("User","Index","User")
@Html.ActionLink("Login","Login","User")
@Html.ActionLink("Logout","Logout","User")
@Html.ActionLink("Admin Setup", "Index", "AdminSetup", new { Area = "Admin" }, new{})
@Html.ActionLink("Admin", "Index", "Home", new { Area = "Admin" }, new{})


